* {
    box-sizing: border-box;
    text-align: center;
  }

  body {
      background-color: #777;
      font-family: 'ariel', 'helvetica neue', helvetica, sans-serif;
      width: 960px;
      font-size: 18px;
  }

  header, nav, section, aside, footer {
      background-color: #ebebeb;
      text-align: center;
  }

  header, nav, footer {
      height: 100px;
      margin: 20px;
      padding: 41px;      
  }

  section {
      flex: 1;
      margin-right: 10px;
      margin-left: 20px;
      padding: 20px;
  }

  aside {
      flex: 1;
      margin-left: 10px;
      margin-right: 20px;
      padding-top: 90px;
  }

  article {
      background-color: #777;
      color: #ebebeb;
      padding: 20px;
  }

  p {
      background-color: #ebebeb;
      color: #777
  }

  .container {
      display: flex;
  }

  .container-column {
      display: flexbox
      flexbox: table-column
  }

  .total-width {
      width: 495px;
  }